body {
    background-color: #F5EF00;
}

#projetos {
    position: relative;
    top: 10vh;
    width: auto;
    height: 100vh;
    text-align: center;
}

#titulo {
    color: #ad394c;
    text-align: center;
    position: relative;
    top: 5vh;
    font-style: normal;
    font-family: sans-serif;
}

span {
    text-decoration: underline solid;
}

.caixa {
    position: relative;
    margin: 20px;
    width: 30%;
    background-color: #ffff;
    height: 75%;
    /* border: 2px solid black; */
    display: inline-block;

}

.caixa img {
    border-radius: 50%;
    position: relative;
    top: 8vh;
    width: 40vh;
    height: auto;
    display: inline-block;
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#img :hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(31, 31, 31);
}

#projeto1 {
    position: absolute;
    left: 0;
}

#projeto3 {
    position: absolute;
    right: 0;
}

#texto {
    position: absolute;
    top: 56vh;
    font-family: sans-serif;
    padding-left: 3vh;
}
.caixa h1 {
    position: relative;
    text-align: center;
    left: 0;
    color: #ED3332;
    font-size: 3vh;
}

.caixa p {
    color: #2E2E2E;
    position: relative;
    text-align: center;
    top: 16%;
    font-size: 100%;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}